body {
  background: #c30000;
  color: #c1a86d;

  font-family: 'Fira Sans Condensed', sans-serif;

}

h1 {
  font-family: 'Risque', cursive;

    margin: 0rem;
    padding: 10% 20% 10% 0%;

    width: 100%;

}
.invis{
  display: none;

}

.gift{
  background: #0e350e;

}
 #gift-1{
   position: absolute;
   bottom: 15%;

 }

 #gift-2{
   position: absolute;
   bottom: 15%;
   right: 10%;
 }
 #gift-3{
   position: absolute;
   bottom: 10%;

 }

 #gift-4{
   position: absolute;
   bottom: 10%;
   right: 10%;
 }

.button{
  width: 100px;
  height: 50px;
  border: none;

}

#language {
  width: 150px;
  height: 50px;
  background: #c2a86c;
  margin: 5% 25%;
  text-align: center;
    color: #232121;
}

h6 {
  margin: 1.5rem 0rem;
}

.christmas-pic {
  width: 120px;
  height: 150px;
  margin: 0 25%;
  position: relative;
  bottom: 0%;
}
p.center{
  box-sizing: border-box;
  padding-bottom: 30px;
  margin: 0;
}
h5 {
  padding-bottom: 150px;
}
.center{

  text-align: center;
  max-width: 100%;


}

/* The modal (background) */
.modal {
  display: none; /* keeps it hidden */
  position: fixed;
  z-index: 1; /* places modal on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background-color: rgb (0, 0, 0); /* Fallback color */
  background-color: rgba (0, 0, 0, 0.4); /*black w/ opaciy */
}

/* Modal Content Box */
.modal-content {
  background-color: #c1a86d;
  margin: 15% auto; /* 15% from the top and centered */
  padding:  20px;
  border: 1px solid #888;
  width: 80%;
  color: #232121;
}

.modal-pic {
  width: 90%;
  margin: 5%;
}

/* The Close Button */
.close {
  color: ##3a3535;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 550px){
h1 {
  margin-left: 50%;
}
#language {
margin-left: 35%;
}

}
/* add media to better adjust for text and buttons */
@media (min-width: 750px){

  #gift-1{
    position: relative;

  }

  #gift-2{
    position: relative;

  }
  #gift-3{
    position: relative;

  }

  #gift-4{
    position: relative;

  }

  #language {
    width: 180px;
    height: 50px;
    background: #c2a86c;
    color: #232121;
    margin: 2.5% 40%;
    text-align: center;
  }

  p.center{
    box-sizing: border-box;
  /*  padding-left: 200px;
    padding-right: 200px; */
    padding-bottom: 30px;
    margin: 0;
  }
  h5 {
    padding-bottom: 20px;
    font-weight: bold;
  }

  h1 {
    margin: 0rem;
    padding: 10% 20% 10% 0%;
    width: 100%;
  }
  .button{
    width: 200px;
    height: 140px;
    border: none;

  }

  .christmas-pic {
    width: 216px;
    height: 295px;






}
